<h3>Student Details</h3>

<div class="">First Name: <%=@student.f_name%> </div>

<div class="">Last Name: <%=@student.l_name%> </div>

<div class="">Date Of Birth: <%=@student.date_of_birth%> </div>

<div class="">Highest Completed Education: <%=@student.highest_completed_education%> </div>
