
<div class="ui inverted labeled icon left inline vertical sidebar menu maroon padding-top-200">
  <a class="item" href="/">
    <i class="home icon" ></i> Home
  </a>
  <a class="item" href="/courses">
    <i class="block layout icon"></i> Courses
  </a>
  <a class="item" href="/instructors">
    <i class="user outline icon"></i> Instructors
  </a>
  <a class="item" href="/students">
    <i class="id card outline icon"></i> Students
  </a>
  <a class="item" href="/cohorts">
    <i class="calendar icon"></i> Cohorts
  </a>
</div>



  <div class="ui large top fixed hidden menu azul">
    <a class="item">
      <i class="inverted large sidebar icon"></i>
    </a>
    <%= link_to destroy_user_session_path, method: :delete, class: "right item " do%>
      <%content_tag(:i, "" ,class: "inverted large power off icon")%>
    <%end%>
  </div>
