<!-- All the product pages are almost identical. Can you think of a way to have a single one instead of three??? -->

<% @cakes.each do |cake|%>
  <div class="text-center col-md-4" style="">
    <img class="card-img-top img-thumbnail gallery-img" src=<%= cake.image %> alt="Card image cap">
    <div class="card-body">
      <%= cake.name %>
      <br>
      <%= cake.price %>
    </div>
  </div>
<% end %>
