<% @cookies.each do |cookie|%>
  <div class="text-center col-md-4" style="">
    <img class="card-img-top img-thumbnail gallery-img" src=<%= cookie.image %> alt="Card image cap">
    <div class="card-body">
      <%= cookie.name %>
      <br>
      <%= cookie.price %>
    </div>
  </div>
<% end %>
