<h1 class="about">About Us</h1>
<p class="about-p">
  In La Panaderia we have over 10 years of experience  making beautiful and delicious cakes.
  we opened our first Panaderia & Coffee shop in Glen Oaks Queens.
  Whether you live in New York City, or just visiting, this is a great place to go and indulge with great treats.
</p>
