<!-- HTML looks clean and nicely indented. Good Job -->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Lorem Ipsum </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class=" container-fluid ">
        <div class="row">
            <div class=" col-sm-12 col-sm-offset-1 heading-container container">
                <h1 class="text-center heading">LA PANADERIA</h1>
                <h4 class="sub-heading text-center"> Cookies <span>&#9679;</span> Cakes <span>&#9679;</span> Muffins</h4>
            </div>
        </div>


        <div class="container">
            <ul class="nav nav-fill nav-filter justify-content-center nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="/" role="tab" aria-controls="pills-gallery" aria-expanded="true">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/cookies" role="tab" aria-controls="pills-profile" aria-expanded="true">Cookies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/cakes" role="tab" aria-controls="pills-services" aria-expanded="true">Cakes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/muffins" role="tab" aria-controls="pills-contact" aria-expanded="true">Muffins</a>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <%=yield%>
            </div>
        </div>



        <footer class="col-sm-12">
            <div class="container">
                <form class="footer-form" action="/" method="post">
                    <h3 class="text-center">Sign up!</h3>
                    <div class="form-group">
                        <!-- <label for="exampleInputEmail1">Email address</label> -->
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name" name="first_name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name" name="last_name">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
            </div>
        </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>
