<p>Congratulations <%=@first_name%>,
<br>
<br>
You've been subscribed to La Panaderia!</p>
<br>
Check out our products!:
<br>
<br>
<ul style='list-style-type:square'><h4>Cookies:</h4>
  <li> Chocolate Chip - $4 </li>
  <li> Hot Cocoa - $5 </li>
  <li> Buttermilk - $4 </li>
  <li> Gingerdoodle - $5 </li>
  <li> Macadamia-Oat - $5 </li>
  <li> Black & White Chippers - $5 </li>
</ul>
<br>
<ul style='list-style-type:square'><h4>Cakes:</h4>
  <li> Biscoff Stuffed Pumpkin - $5 </li>
  <li> Peanut Butter Chocolate Chip - $6 </li>
  <li> Apple Crumble - $5 </li>
  <li> Blueberry Raspberry - $7 </li>
  <li> Chocolate Chip - $8 </li>
  <li> Carrot - $7 </li>
</ul>
<br>
<ul style='list-style-type:square'><h4>Muffins:</h4>
  <li>  Coconut Zebra - $10 </li>
  <li>  Chocolate Lava - $20 </li>
  <li>  Pumpkin Spice Coffee- $10 </li>
  <li>  Lemon Bundt - $10 </li>
  <li>  Dulce de Leche - $10 </li>
  <li>  Chocolate Caramel Poke - $10 </li>
</ul>
<br>
<p>Our monthly newsletter will update you with La Panaderia's Bakery Catalog and more!.
<br>
<br>
<br>
<br>
</p>
