<p>Congratulations <%=@first_name%>,
<br>
<br>
You've been subscribed to La Panaderia!</p>
<br>
Check out our products!:
<br>
<br>
<ul style='list-style-type:square'><h4>Cookies:</h4>
  <li> , </li>
  <li> , </li>
  <li> , </li>
  <li> , </li>
  <li> , </li>
  <li> , </li>
</ul>
<br>
<ul style='list-style-type:square'><h4>Cakes:</h4>
  <li>, </li>
  <li>, </li>
  <li> , </li>
  <li> , </li>
  <li> , </li>
  <li> , </li>
</ul>
<br>
<ul style='list-style-type:square'><h4>Muffins:</h4>
  <li> , </li>
  <li> , </li>
  <li> , </li>
  <li> , </li>
  <li> , </li>
  <li> , </li>
</ul>
<br>
<p>Our monthly newsletter will update you with La Panaderia's Bakery Catalog and more!.
<br>
<br>
<br>
<br>
</p>
