
  <h1>
    <%@todos.each do |todo|%>
      <div class="">
        <%=todo[:name]%>  <br> <%=todo[:notes]%>
        <br>
        <a class="btn btn-danger" href="/edit/<%=todo[:id]%>" name = >Edit</a>
        <hr>
      </div>
      <!-- <hr> -->
    <%end%>
  </h1>

  <div class="row-12">
    <a class="btn btn-primary" href="/">Home</a>
  </div>
