.container.card.form-container {
    margin-top: 5rem;
    -webkit-box-shadow: 0 0 10px black !important;
    box-shadow: 0 0 10px black !important;
    border-radius: 10px !important;
}

body {
    background-color: #F1F0EA;
}

.jumbotron {
    background: url("./images/EndoSpot.png") no-repeat center center;
    background-color: white !important;
    height: 350px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color:#777877 !important;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    border-radius: 10px !important;
    
}

.clinical-case-show{
    padding: 20px;
    margin-bottom: 30px;
}

.footer{
    background-color: white !important;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}
.font-italic {
    font-size: 4vw;
}
.post-img {
    max-width: 45%;
}
.dashboard-btn{
    margin-top: 20px;
}