<h3>Team Members</h3>


<ul>
  <% @contacts.each do |contact| %>
    <li> <%=contact[:title]%> - <%=contact[:name]%> </li>
  <%end%>
</ul>



<!-- <ul>
  <li></li>
  <li></li>
  <li></li>
</ul> -->






    <p>address: </p>
    <p>Phone:</p>
    <p>Email:</p>
    <h1>Contact Us</h1>
