  <h1>Order</h1>
<form action="/place-order" method="POST">
  First Name: <input type="text" name="first_name" value="">
  <br>
  Last Name: <input type="text" name="last_name" value="">
  <br>
  Quantity: <input type="text" name="Quantity" value="">
  <br>
  <input type="submit" name="" value="Place My Order">
</form>
