<h1>Thank Your <%=@name_to_display.capitalize%></h1>

<h1>
  Hello <%= @name_to_display.capitalize %>, Welcome.
</h1>

<% if @time !=nil %>
<h3>
  The current date and time is: <%=@time%>
</h3>
<% end %>
